<div class="form-group">
<div>
  <label>*- Address (Street, City or (PostalCode with District), Country)</label>
  <ng4geo-autocomplete [userSettings]="userSettings"
                       (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
  <br>
  <br>
  <br>
  <br>
</div>
  <div *ngIf="addressInput">
    <div class="form-group">
      <p>Country: {{validatedAddress.country}}</p>
      <p>State: {{validatedAddress.state}}</p>
      <p>County: {{validatedAddress.county}}</p>
      <p>City: {{validatedAddress.city}}</p>
      <p>District: {{validatedAddress.district}}</p>
      <p>Subdistrict: {{validatedAddress.subdistrict}}</p>
      <p>Street: {{validatedAddress.street}}</p>
      <p>PostalCode: {{validatedAddress.postalCode}}</p>
    </div>
  </div>
  <div *ngIf="!addressInput && attemptInput">
    <span class="text-danger">Incorrect Address</span>
  </div>
  <hr>
</div>
<swal #error title="Error" text="Something go wrong. Please make sure that you fill in correct address (Street, City, Country) or contact with our service" type="error"></swal>
