<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="form-group text-center">
          <label for="oldPassword">*- Old Password</label>
          <input class="form-control"
                 type="text"
                 id="oldPassword"
                 ngModel
                 name="oldPassword"
                 required
                 #passwordOld="ngModel"
          >
        </div>
        <span class="help-block alert-danger" *ngIf="!passwordOld.valid && passwordOld.touched">You probably misspelled. Check your password.</span>

        <div class="form-group text-center">
          <label for="newPassword">*- New Password</label>
          <input class="form-control"
                 type="text"
                 id="newPassword"
                 ngModel
                 name="newPassword"
                 required
                 pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}"
                 #password="ngModel"
          >
        </div>
        <span class="help-block alert-danger" *ngIf="passwordOld.value == password.value && password.touched">Old password and new password are equals</span>
        <span class="help-block alert-danger" *ngIf="!password.valid && password.touched">Password is too week and easy to hack</span>

        <div class="form-group text-center">
          <label for="confirm-password">*- Confirm New Password</label>
          <input class="form-control"
                 type="text"
                 id="confirm-password"
                 ngModel
                 name="confirmed"
                 required
                 #conf="ngModel">
        </div>
        <span class="help-block alert-danger" *ngIf="password.value != conf.value && conf.touched">Password are not equals</span>
        <span class="help-block center-block">Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character.</span>

       <div class="center-element">
         <button type="submit" class="btn btn-default " [disabled]="!password.valid
        ||password.value != conf.value
        || password.value == passwordOld.value
        || !passwordOld.valid">Change Password
         </button>
       </div>
      </form>
    </div>
  </div>
</div>

<swal #error title="Error" text="Somethig go wrong. Please contact with our service" type="error"></swal>
<swal #success title="Success" text="You successfully updated password" type="success"></swal>
