@media only screen and (max-width: 540px) {
  h1 {
    position: relative;
    bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  .amonut-product {
    font-size: 15px;
    line-height: 0;
    position: relative;
    top: 10px;
    bottom: -10px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .bucket {
    line-height: 0;
    font-size: 25px;
    position: relative;
    top: 40px;
  }
  .product-category {
    line-height: 0;
  }

  li{
    font-size: 15px;
    margin: 0px 0;
  }
  .search-product {
    width: 140px;
    height: 40px;
    position: relative;
  }

  div.get-access {
    position: relative;
    left: 20px;
    bottom: 20px;
  }
}

@media only screen and (min-width: 541px) and (max-width: 991px){
  .search-product {
    width: 300px;
    height: 40px;
    position: relative;
  }

  h1 {
    position: relative;
    bottom: 40px;
    font-size:  30px;
    font-weight: bold;
  }

  .amonut-product {
    font-size: 15px;
    line-height: 0;
    position: relative;
    left: 20px;
    top: 10px;
    bottom: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bucket {
    line-height: 0;
    font-size: 30px;
    position: relative;
    top: 30px;
  }

  div.get-access {
    position: relative;
    /*left: 100px;*/
    bottom: 30px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .search-product {
    width: 300px;
    height: 40px;
    position: relative;
  }

  h1 {
    position: relative;
    bottom: 40px;
    right: 30px;
    font-size:  35px;
    font-weight: bold;
  }

  .amonut-product {
    font-size: 15px;
    line-height: 0;
    position: relative;
    left: 17px;
    top: 10px;
    bottom: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bucket {
    line-height: 0;
    font-size: 30px;
    position: relative;
    bottom: 20px;
  }

  div.get-access {
    position: relative;
    left: 10px;
    bottom: 20px;
  }
}


@media only screen and (min-width: 1200px) {
  .search-product {
    width: 500px;
    height: 40px;
    position: relative;
    right: 50px;
  }

  h1 {
    position: relative;
    bottom: 40px;
    font-size:  45px;
    font-weight: bold;
  }

  .amonut-product {
    font-size: 15px;
    line-height: 0;
    position: relative;
    left: 20px;
    top: 10px;
    bottom: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bucket {
    line-height: 0;
    font-size: 30px;
    position: relative;
    bottom: 20px;
    left: 80px;
  }

  div.get-access {
    position: relative;
    left: 100px;
    bottom: 20px;
  }
}

.table>tbody>tr>td, .table>thead>tr>td {
  vertical-align: middle;
}

.navbar .dropdown-menu.no-collapse {
  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  float: left;
  margin: 0;
  padding: 4px 0;
  position: absolute;
  top: 100%;
}
.navbar .dropdown-menu.no-collapse:before,
.navbar .dropdown-menu.no-collapse:after {
  display: block;
}
.navbar .dropdown-menu.no-collapse li + li a {
  margin-bottom: 0;
}
.navbar .dropdown-menu.no-collapse .divider {
  display: list-item;
}
.navbar .dropdown-menu.no-collapse a {
  border-radius: 0;
  color: #333333;
  font-weight: normal;
  padding: 3px 15px;
}
.navbar .dropdown-menu.no-collapse a:hover,
.navbar .dropdown-menu.no-collapse .active a,
.navbar .dropdown-menu.no-collapse .active a:hover {
  background-color: #0088cc;
  color: #ffffff;
}
.btn-group.open .dropdown-menu.no-collapse {
  display: block;
  margin-top: 1px;
  border-radius: 5px;
}

.navbar .dropdown-menu.no-collapse:before {
  left: auto;
  right: 12px;
}
.navbar .dropdown-menu.no-collapse:after {
  left: auto;
  right: 13px;
}

.jumbotron {
  background-color: rgba(179, 184, 184, 0.42) !important;
}

.navbar-default {
  background-color: #dfe2e2;
  border-color: transparent;
  font-weight: bold;
  font-size: 20px;
}

a.title:hover {
  color: rgba(30, 74, 133, 0.75);
}

a.title {
  background-color: rgba(36, 82, 154, 0.76);
  text-decoration: underline;
}
