<nav class="navbar navbar-default">
  <div class="container">
    <div class="row">
     <div class="col-sm-12">
       <a routerLink="/" class="navbar-brand"><h1>Computer WebShop - everything for computers</h1></a>
       <app-authentication></app-authentication>
     </div>
    </div>

    <div class="row" *ngIf="adminPanel == true">


        <ul class="nav nav-pills ">
          <li  routerLinkActive="active">
            <a routerLink="/addProduct">Add Product</a>
          </li>
          <li  routerLinkActive="active">
            <a routerLink="/productEdit">Edit Product</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/showBucket">Show Bucket</a>
          </li>
        </ul>
    </div>

      <div class="row">
          <ul class="nav navbar-nav">
            <li routerLinkActive="active"><a routerLink="/">Laptops</a></li>
            <li routerLinkActive="active"><a routerLink="/">Stacionars Coputers</a></li>
          </ul>

      </div>





  </div>
</nav>
