<div class="container">
  <h2 class="text-center">Detail informetion of order nr: {{order.id}}</h2>
  <hr>
  <div class="row ">

    <div class="col-md-2"></div>
    <div class="col-md-10">
      <div class="table text-justify line-height-200">
        <div class="col-md-12">
          <div class="col-md-6">
            <h3>Actual order Status</h3>
            <p>Total Value: {{order.totalValue}}</p>
            <p>Total Amount: {{order.totalAmount}}</p>
            <p>Bought Date: {{order.boughtDate}}</p>
            <p>Stratus status: {{order.status}}</p>
          </div>

          <div class="col-md-6">
            <h3>Shippin Address</h3>
            <p>Country: {{order.shippingAddressDto.country}}</p>
            <p>PostCode: {{order.shippingAddressDto.postCode}}  {{order.shippingAddressDto.city}}</p>

            <p *ngIf="order.shippingAddressDto.street == null">Locality: {{order.shippingAddressDto.district}}</p>
            <p *ngIf="order.shippingAddressDto.street != null">Locality: {{order.shippingAddressDto.city}}</p>

            <p *ngIf="order.shippingAddressDto.street != null">Street: {{order.shippingAddressDto.street}}</p>
            <p>House: {{order.shippingAddressDto.house}}</p>
            <p *ngIf="order.shippingAddressDto.apartment !=0">Apartment: {{order.shippingAddressDto.apartment}}</p>
            <p>Name: {{order.shippingAddressDto.name}}</p>
            <p>Surname: {{order.shippingAddressDto.surname}}</p>
            <p>Supplier: {{order.shippingAddressDto.supplier}}</p>
            <p>State: {{order.shippingAddressDto.state}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="text-center ">
      <h3 class=""><span class="label label-success order-status centerDiv ">{{order.statusCode |titlecase}}</span></h3>
      <div *ngIf="paid && !prepared && !delivered" >
        <button class="btn btn-primary" type="button"  (click)="onPrepared()"
                [disabled]="!allProductPacked">Prepared
          Order
        </button>
        <br>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div *ngIf="prepared && !send" class="input-group">
          <input
            class="form-control"
            type="text"
            [(ngModel)]="linkDelivery"
            required
            pattern=".{8,}"
            #link="ngModel"
            placeholder="Insert link to delivery"
          >
          <div class="input-group-btn">
            <button class="btn btn-primary" type="submit" (click)="onSend()" [disabled]="!link.valid"> Send Delivery
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <h3 class="text-center">List ordered products</h3>
    <table class="table text-center table-striped">
      <thead>
      <tr>
        <td>Id</td>
        <td *ngIf="paid && !prepared && !send && !delivered">Confirm</td>
        <td>name</td>
        <td>price</td>
        <td>amount</td>
        <td>value</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let productBoughts of order.productBoughts; let i = index">
        <td>{{i+1}}</td>
        <td *ngIf="paid && !prepared && !send && !delivered"><input type="checkbox"
                                                      (click)="onProductPrepared(i)"
        ></td>
        <td>{{productBoughts.product.title}}</td>
        <td>{{productBoughts.product.price}}</td>
        <td>{{productBoughts.amount}}</td>
        <td>{{productBoughts.amount*productBoughts.product.price}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
<swal #error title="Error" text="Something go wrong. Please contact with our service" type="error"></swal>
