<div class="container">
  <div class="row">
    <h2 class="text-center">Shipping Address</h2>
  </div>


  <div class="col-sm-2"></div>
  <div class="col-sm-8">

    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <div class="row text-center">
        <h2 *ngIf="useDiffAddress">Dffrent addres in use</h2>

        <div class="form-group">
          <label>Coutry</label>
          <pre class="card card-block card-header mb-3">Country: {{userAddress.country | json}}</pre>
          <input
            class="form-control"
            [(ngModel)]="userAddress.country"
            [typeahead]="states"
            [ngModelOptions]="{standalone: true}"
            required
          >
        </div>

        <div class="form-group">
          <label for="city">City</label>
          <input
            class="form-control"
            id="city"
            type="text"
            [(ngModel)]="userAddress.city"
            name="city"
            required>
        </div>
        <div class="form-group">
          <label for="postcode">PostCode</label>
          <input
            class="form-control"
            id="postcode"
            type="text"
            [(ngModel)]="userAddress.postCode"
            name="postcode"
            required
          >
        </div>

        <div class="form-group">
          <label for="street">Street</label>
          <input
            class="form-control"
            type="text"
            id="street"
            [(ngModel)]="userAddress.street"
            name="street"
            required>
        </div>


        <div class="form-group">
          <label for="name">Name</label>
          <input
            class="form-control"
            type="text"
            id="name"
            [(ngModel)]="userAddress.name"
            name="name"
            required>
        </div>
        <div class="form-group">
          <label for="surname">Surname</label>
          <input
            class="form-control"
            type="text"
            id="surname"
            [(ngModel)]="userAddress.surname"
            name="surname"
            required>
        </div>
      </div>
      <br>

      <hr>
      <div class="row text-center">
        <input
          type="checkbox"
          class="checkbox checkbox-inline"
          [ngModelOptions]="{standalone: true}"
          [(ngModel)]="useDiffAddress"
          (click)="onUseDifferentAddress()"

          #other> Different address
        <h4>Select your supplier</h4>
        <div class="radio text-left" *ngFor="let supplier of suppliers">

          <label>
            <input
              type="radio"
              name="supplier"
              [(ngModel)]="userAddress.supplier"
              [value]="supplier.name"
              required>
            Supplier: {{supplier.name}} totalPrice: {{supplier.price}} $
          </label>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Buy</button>
      </div>
    </form>
  </div>

  <br><br><br>
</div>


