<div class="container">
  <div class="row">
    <h2 class="text-center">Shipping Address</h2>
  </div>

  <div class="row text-center">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div class="form-group">
          <label>Coutry</label>
          <pre class="card card-block card-header mb-3">Country: {{selected | json}}</pre>
          <input
            class="form-control"
            [(ngModel)]="selected"
            [typeahead]="states"
            [ngModelOptions]="{standalone: true}"
            required
          >


        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input
            class="form-control"
            id="city"
            type="text"
            ngModel
            name="city"
            required>
        </div>
        <div class="form-group">
          <label for="postcode">PostCode</label>
          <input
            class="form-control"
            id="postcode"
            type="text"
            ngModel
            name="postcode"
            required
          >
        </div>

        <div class="form-group">
          <label for="street">Street</label>
          <input
            class="form-control"
            type="text"
            id="street"
            ngModel
            name="street"
            required>
        </div>


        <div class="form-group">
          <label for="name">Name</label>
          <input
            class="form-control"
            type="text"
            id="name"
            ngModel
            name="name"
            required>
        </div>
        <div class="form-group">
          <label for="surname">Surname</label>
          <input
            class="form-control"
            type="text"
            id="surname"
            ngModel
            name="surname"
            required>
        </div>
        <br>
        <h4>Select your supplier</h4>
        <div class="radio text-left" *ngFor="let supplier of suppliers">

          <label>
            <input
              type="radio"
              name="supplier"
              ngModel
              [value]="supplier.name"
              required>
            Supplier: {{supplier.name}} totalPrice: {{supplier.totalPrice}} $
          </label>
        </div>
        <br><br>


        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Buy</button>

      </form>
    </div>
  </div>

</div>
<br><br><br>
