<div>
  <button class="btn btn-primary" (click)="onGetBuckets()">Show bucket</button>
  <ul *ngFor="let bucket of bucketsData ">
    <li>user: {{bucket.user}}</li>
    <li>userList</li>
        <ul *ngFor="let product of bucket.productList">
          <li> title {{product.title}}</li>
          <li> price: {{product.price}}</li>
          <li> description {{product.description}}</li>
          <li> imageLink <img src="{{product.imageLink}}" alt="{{product.imageLink}}" class="img-responsive" style="max-height: 120px; max-width: 120px"> </li>
          <br>
        </ul>
    <hr>
    <br>
  </ul>

  <br>
</div>

