<div >

<form (ngSubmit)="onSubmit()" #form="ngForm">
  <div class="form-group">
    <label for="login">Login</label>
    <input
    type="text"
    id="login"
    name="login"
    class="form-control"
    required
    #loginCrt
    ngModel>
    <span class="help-block" *ngIf="loginCrt.invalid && loginCrt.touched">Please fill login </span>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
    type="text"
    id="password"
    name="password"
    class="form-control"
    required
    #paswordCrt
    ngModel>
    <span class="help-block" *ngIf="paswordCrt.invalid && paswordCrt.touched"></span>
  </div>
  <button class="btn btn-primary" type="submit">LOGGIN</button>

</form>

</div>
