<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="text-center">
        <h3>Thank you for shopping</h3>
      </div>


      <div class="form-group" *ngIf="!isPaid">
        <label for="bank">Select your bank </label>
        <select
          id="bank"
          class="form-control"
          ngModel
          name="bank">
          <option value="ING">ING</option>
          <option value="AliorBank">AliorBank</option>
        </select>
        <div class="text-center">
          <p>You will by redirected to your bank website</p>
          <br>
          <button type="button" class="btn btn-primary" (click)="onPay()">Payment</button>
        </div>
      </div>

      <div class="text-center">
        <div *ngIf="redirectToBank">
          <h3><span class="label label-info">Verification payment</span></h3>
        </div>

        <div *ngIf="isPaid">
          <h3><span class="label label-success">Your payment was verified</span></h3>
          <p class="text-success"> Your order will be realised very soon</p>
          <p class="text-success"> When will be done you receive email with link to shipment </p>
        </div>
      </div>
    </div>
  </div>

  <swal #error title="Error" text="Something go wrong. Please contact with our service" type="error"></swal>
</div>

