@media only screen and (max-width: 1200px) {
  .img-responsive {
    /*width: 100px;*/
    /*text-align: center;*/
    /*border: 3px solid green;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }

  .description {
    /*text-align: center;*/

  }
}

@media only screen and (min-width: 991px) {
  .img-responsive {
    /*width: 100px;*/
    /*text-align: center;*/
    /*border: 3px solid green;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
  }
  .description {
    /*text-align: center;*/
    position: relative;
    left: 30px;
  }


}


  a.change {
  color: #bc3721;
}

button.change {
  color: #bc3721;

}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.btn-circle-sm {
  width: 20px;
  height: 20px;
  padding: 6px 0px;
  border-radius: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.a-circle-sm {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 30px;
  text-align: justify-all;
  font-size: 17px;
  line-height: 1.42857;
}
