<div class="container">
  <div class="row">
    <div class="col-xs-12"><b><h3 class="text-center">{{product.title}}</h3></b></div>
    <hr>
    <div class="col-md-2 col-sm-12">
      <img
        src="{{product.imageLink}}"
        alt="{{product.imageLink}}"
        class="img-responsive"
        style="max-height: 250px; max-width: 300px">
    </div>
    <div class="col-md-1 col-sm-1 "></div>
    <div class="col-md-6 col-sm-12  text-justify description">
      <br>
      <div class="col-xs-12 col-md-12">
        <div class="col-xs-1"></div>
        <div class="col-xs-10 col-md-12">
          <div *ngFor="let des of product.shortDescription">
            <p *ngIf="des.length > 5">{{des}}</p>
          </div>
        </div>
        <div class="col-xs-1"></div>
      </div>
      <br>
      <br>
      <br>
    </div>
    <div class="col-md-3 text-center col-sm-12">
      <div class="text-center stars">
        <div class="col-sm-12">
          <div>
            <ngb-rating
              [(rate)]="product.marksAverage"
              (hover)="hovered=$event"
              (leave)="hovered=0"
              [readonly]="!isAuthenticated"
              (click)="onRated(rate2, product.id)"
              #rate2>
            </ngb-rating>
            <p>Count Users Marks: ({{product.countMarks}})</p>
          </div>
          <p *ngIf="product.rated" class="text-success">Thanks for rating this item!!!</p>
        </div>
        <div>
          Price: {{product.price}} $<br>
          <button class="btn btn-primary buy" [disabled]="product.statusCode != sale"
                  (click)="onAddToCard(product)">Add to Card
          </button>
          <div *ngIf="product.statusCode != sale">
            <br>
            <p>Temporally unavailable</p>
            <button type="button" class="btn btn-primary reminder" (click)="lgModal.show()">Reminder</button>
          </div>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <br>
    <br>
    <div class="col-xs-1"></div>
    <div class="col-xs-10 col-md-12 text-justify">
      {{product.description}}
    </div>
    <div class="col-xs-1"></div>
  </div>
  <div class="row" *ngIf="product.commentDtos.length>0">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-justify description">
      <h3 class="text-center">Users Coments
      </h3>
    </div>
    <div class="col-md-3"></div>
    <br>
    <br>
  </div>
  <div class="row">
    <br>
    <div class="panel panel-default col-md-12" *ngFor="let comment of product.commentDtos let i = index"
         (mouseover)="mouseHover(comment)" (mouseleave)="mouseLeave(comment)">
      <div class="panel-heading">
        <strong>{{comment.login}}</strong>
      </div>
      <div class="panel-body" (mouseover)="mouseOver(comment)"
           (mouseout)="mouseOut(comment)">
        <div>
          <div *ngIf="!comment.editComment">
            {{comment.message}}
            <div *ngIf="comment.changeComment && comment.login == userLogin">
              <div class="btn-group dropdown-backdrop" dropdown>
                <a type="button"
                   class="btn btn-default a-circle-sm dropdown-toggle"
                   [class.btn-success]="comment.changeButton"

                   tooltip="Edit or delete this"
                   dropdownToggle (click)="false"
                >
                <span role="button"
                      class="glyphicon
                             glyphicon-option-horizontal
                             center-block"
                      aria-hidden="true"
                >
                </span>
                </a>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                  <li role="menuitem"><a class="dropdown-item "
                                         (click)="comment.editComment = true">Edit</a></li>
                  <li class="divider dropdown-divider"></li>
                  <li role="menuitem"><a class="dropdown-item" (click)="onRemoveComment(comment.id, i)">Delete</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div *ngIf="comment.editComment">
            <input
              class="form-control"
              [ngModel]="comment.message"
              name="editMessage"
              #editComment="ngModel"
            >
            <br>
            <div class="btn-group">
              <button class="btn btn-default btn-sm" (click)="comment.editComment = false">Cancel</button>
              <button class="btn btn-warning btn-sm" (click)="onEditComment(editComment, comment.id)">Submit
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer small">
        <span class="text-muted"> Created: {{comment.createdDate}}</span>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-justify description">
      <h3 class="text-center">Add your comment
      </h3>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="col-xs-1"></div>
      <div class="col-xs-12 col-md-12">
        <div class="input-group col-sm-12">
          <input
            class="form-control"
            placeholder="Write comment min 10 and max 1000 characters"
            [(ngModel)]="commentMessage"
            [disabled]="!isAuthenticated"
            maxlength="1000"
          >
          <div class="input-group-btn">
            <button class="btn btn-primary" (click)="onAddComment(product.id)" [disabled]="commentMessage.length<10">Add
              Comment
            </button>
          </div>
        </div>
        <div class="col-xs-1"></div>
      </div>
    </div>
    <br>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center">
      <span class="alert-info" *ngIf="!isAuthenticated">Writing comments only for logged user</span>
    </div>
  </div>
  <div class="row">
    <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left">We will send remind you when product {{product.title}} will be
              available</h4>
            <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
              <span aria-hidden="true">x</span></button>
          </div>
          <div class="modal-body">
            <div class="text-center">
              <p>Write your email and press Submit </p>
              <br>
              <br>

              <input
                class="form-control"
                type="text"
                ngModel
                name="email"
                #emailSubscription="ngModel"
                required
                email
              >
              <br>
              <div class="center-block">
                <button
                  class="btn btn-primary"
                  type="button"
                  [disabled]="!emailSubscription.valid"
                  (click)="onSetSubscription(emailSubscription, product.id)"
                  (click)="lgModal.hide()"
                >Get Subscription
                </button>
              </div>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<swal #success title="Success" text="Successfully added product to bucket" type="success"></swal>
<swal #error title="Error" text="Something go wrong. Please contact with our service" type="error"></swal>
<swal #notavailable title="Not Available" text="This product is not available" type="error"></swal>

