<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">

        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>


        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page)">{{page}}</a>
        </li>


        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
      </ul>


      <ul class="list-group" *ngFor="let product of pagedProducts; let i = index">
        <li class="list-group-item">
          <p>Index: {{i}}</p>
          <p>Index in database:{{product.id}}</p>
          <p> Tile: {{product.title}}</p>
          <p> Price: {{product.price}} $</p>
          <p> description: {{product.description}}</p>
          Image:

          <img
            src="{{product.imageLink}}"
            alt="{{product.imageLink}}"
            class="img-responsive"
            style="max-height: 120px; max-width: 120px">

          <button class="btn btn-danger" (click)="onRemove(product, i)">REMOVE</button>
          <button class="btn btn-warning" (click)="onEditDetail(product.id)">EDIT PRODUCT</button>

          <!--<div *ngIf="product.visible">-->
            <!--<app-edit-detail [product]="product" [id]="product.id"></app-edit-detail>-->
          <!--</div>-->

        </li>
      </ul>


      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">

        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>


        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page)">{{page}}</a>
        </li>


        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
      </ul>

    </div>
  </div>
</div>
