<app-header></app-header>
<!--<app-product-list></app-product-list>-->
<router-outlet></router-outlet>

<!--<form-upload></form-upload>-->

<!--<div>-->
<!--&lt;!&ndash;<div class="col-xs-1"></div>&ndash;&gt;-->
  <!--<div class="col-xs-12">-->



    <!--&lt;!&ndash;<div>&ndash;&gt;-->
      <!--&lt;!&ndash;<app-product-list></app-product-list>&ndash;&gt;-->
      <!--&lt;!&ndash;<router-outlet></router-outlet>&ndash;&gt;-->
      <!--&lt;!&ndash;<br>&ndash;&gt;-->
      <!--&lt;!&ndash;<br>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<hr>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class=" row footer bottom text-center">&ndash;&gt;-->
    <!--&lt;!&ndash;<p>&copy;2018 All right reserved Thomas Grajkowski</p>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<swal #info title="Error" text="Your session are gone. Log in once again" type="info"></swal>&ndash;&gt;-->
  <!--</div>-->


<!--</div>-->

