/*.borderless table {*/
  /*border-top-style: none;*/
  /*border-left-style: none;*/
  /*border-right-style: none;*/
  /*border-bottom-style: none;*/
/*}*/
/*.borderless {*/
  /*border:red;*/
/*}*/

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
  border: none;
}

.btn-category {
  width: 200px;
  height: 40px;
}

.btn-all-category {
  width: 1000px;
  height: 40px;
}

.img-responsive {
  /*display: inline;*/
  /*max-width: 100px;*/
  /*min-width: 10px;*/
  /*margin-left: 10px;*/
  /*width: 200px;*/
  /*height: 200px;*/

}

/* For width 400px and larger: */
@media only screen and (max-width: 400px) {
 .img-responsive{
   width: 150px;
   height: auto;
   margin-right: 0px;
   margin-left: 0px;
 }
  .pagination {
    /*position: relative;*/
    /*left: 80px;*/
    /*width: 10px;*/
    /*display: none;*/
  }
  .extra-buttons {
    display: none;
  }
}

@media only screen and (min-width: 400px) {
 .img-responsive{
   width: 250px;
   height: auto;
 }
}


/*@media (max-width: 10px) {*/
  /*.img-responsive {*/
    /*width: 10px;*/
    /*height: 10px;*/
  /*}*/
/*}*/

/*@media (max-width: 40px) {*/
  /*.div-image-image {*/
    /*position: relative;*/
  /*}*/
  /*.img {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*margin: auto;*/
    /*width: 10%;*/
  /*}*/
/*}*/
