<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-xs-12 col-sm-12">
      <div class="row" *ngFor="let product of pagedProducts; let i = index">
        <div class=" list-group-item">
          <h3 class="text-center">{{product.title}}</h3>
          <hr>
          <table class="table table-borderless">
           <tbody>
              <td class="col-sm-4 col-xs-3 col-sm-3"><img
                src="{{product.imageLink}}"
                alt="{{product.imageLink}}"
                class="img-responsive"
                style="max-height: 200px; max-width: 250px">
              </td>
              <td class="col-sm-6 col-xs-4 col-sm-4 text-left bottom-left desc">
                {{product.description}}
              </td>
              <td class="col-sm-2 col-xs-2 col-sm-2">

              <button class="btn btn-danger controll-button " (click)="onRemove(product, i)">REMOVE</button>
              <button class="btn  btn-warning controll-button" (click)="onEditDetail(product.id)">EDIT</button>
            </td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


<div class="row">
  <div class="col-xs-12 text-center">
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)">First</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">Prev</a>
      </li>
      <li class="extra-buttons" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)">Next</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)">Last</a>
      </li>
    </ul>
  </div>
</div>
</div>
<swal #error title="Error" text="Something go wrong. Please contact with our service" type="error"></swal>
