<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-xs-12 col-sm-12">
      <div class="row" *ngFor="let product of pagedProducts; let i = index">
        <div class=" list-group-item">
          <a (click)="onEditDetail(product.id)"><h3 class="text-center">Edit: {{product.title}}</h3></a>
          <hr>
          <table class="table table-borderless">
            <tbody>
            <tr>
              <td class="col-sm-3 col-xs-4">

                <img
                  src="{{product.imageLink}}"
                  alt="{{product.imageLink}}"
                  class="img-responsive"
                >
              </td>
              <td class="col-md-6 col-xs-7 text-left bottom-left">
                <!--{{product.description}}-->
                <div class="text-justify">
                  <!--<div *ngFor="let des of product.shortDescription">-->
                    <!--<p *ngIf="des.length > 5">{{des}}</p>-->
                  <!--</div>-->
                  <ul *ngFor="let des of product.shortDescription">
                    <li>{{des}}</li>
                  </ul>
                </div>
              </td>
              <td class="text-right ">
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <div class="">
              <!--<p>Price: {{product.price}} $</p>-->
            </div>

            <!--<div class="detail text-center">-->
            <!--&lt;!&ndash;<button class="btn btn-primary show-detail">Detail</button>&ndash;&gt;-->
            <!--</div>-->
            </td>


            <td>
              <tr></tr>
              <tr></tr>
              <tr></tr>
              <div class="text-right price">
                <p>Price: {{product.price}} $</p>
              </div>

              <!--<div class="detail text-center">-->
              <!--&lt;!&ndash;<button class="btn btn-primary show-detail">Detail</button>&ndash;&gt;-->
              <!--</div>-->
            </td>

            </tr>



            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


<div class="row">
  <div class="col-xs-12 text-center">
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)">First</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">Prev</a>
      </li>
      <li class="extra-buttons" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)">Next</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)">Last</a>
      </li>
    </ul>
  </div>
</div>
</div>
<swal #error title="Error" text="Something go wrong. Please contact with our service" type="error"></swal>
