<div class="container">
  <div class="row " *ngFor="let product of pagedProducts; let i = index">
    <div class=" list-group-item">
      <h3 class="text-center">{{product.title}}</h3>
      <hr>
      <table class="table table-borderless">
        <thead>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="col-sm-4"><img
            src="{{product.imageLink}}"
            alt="{{product.imageLink}}"
            class="img-responsive"
            style="max-height: 200px; max-width: 250px"></td>
          <td class="col-sm-6 text-left bottom-left">
            {{product.description}}
          </td>
          <td class="col-sm-2 text-center">
            <br>
            <br>
        <tr>
          <button class="btn remove btn-danger" (click)="onRemove(product, i)">REMOVE</button>
        </tr>
        <tr>
          <button class="btn edit btn-warning" (click)="onEditDetail(product.id)">EDIT</button>
        </tr>
        </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>


  <div class="text-center">
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)">First</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">Prev</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)">Next</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)">Last</a>
      </li>
    </ul>
  </div>

</div>
