<div class="container">
  <div class="row">
    <table class="table text-center table-striped">
      <thead>
      <tr>
        <td>
          Title
        </td>
        <td>
          Price
        </td>
        <td>
          Amount
        </td>
        <td>
          Value
        </td>
        <td>

        </td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products">
        <td>
          {{product.title}}
        </td>
        <td>
          {{product.price}}
        </td>
        <td>
          <button class="btn btn-default btn-sm" (click)="onSubtractAmountProduct(product)">-</button>
          {{product.amount}}
          <button class="btn btn-sm btn-default" (click)="onAddAmountProcuct(product)">+</button>
        </td>
        <td>
          {{product.value}}
        </td>

        <td>
          <button class="btn btn-danger btn-sm" (click)="onRemove(product)">Remove</button>

        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Total: {{totalValueProducts}}
        </td>
        <td>

          <button class="btn btn-danger" (click)="onRemoveAllProducts()" *ngIf="totalAmountProducts>1">
            RemoveAll
          </button>
          <button class="btn btn-primary" (click)="onNext()">Next >></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-sm-8 text-center"></div>
    <div class="col-sm-3">


    </div>
  </div>

</div>
