<div class="container">
  <div class="row">
    <table class="table text-center table-striped col-xs-2">
      <thead>
      <tr>
        <td>
          Product
        </td>
        <td>
          Price
        </td>
        <td>
          Amount
        </td>
        <td>
          Value
        </td>
        <td>
        </td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products">
        <td class="col-md-2">
          <div class="col-md-12 amount">{{product.title}}</div>
        </td>
        <td>
          {{product.price}}
        </td>
        <td class="col-md-2 amount-product-manipulation">
          <div class="col-md-1"></div>

          <div class="col-md-3">
            <button class="btn btn-default btn-sm " (click)="onSubtractAmountProduct(product)">-</button>
          </div>
          <div class="col-md-1 amount  ">
            {{product.totalAmount}}
          </div>
          <div class="col-md-2">
            <button class="btn btn-sm btn-default" (click)="onAddAmountProcuct(product)">+</button>
          </div>
        </td>
        <td>
          {{product.value}}
        </td>
        <td>
          <button class="btn btn-danger btn-sm removeProduct" (click)="onRemove(product)">Remove <span class="
glyphicon glyphicon-remove"></span></button>

        </td>
      </tr>
      <tr *ngIf="!isCoupon">
        <td></td>
        <td></td>
        <td><p>Total:</p></td>
        <td><p>{{totalValueProducts}}</p></td>
        <td></td>
      </tr>
      <tr *ngIf="isCoupon">
        <td><p>RABAT</p></td>
        <td><p>10%</p></td>
        <td><p>Total:</p></td>
        <td><p>{{totalValueProducts-(totalValueProducts*0.1)}} </p></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-md-9 col-xs-8"></div>
    <div class="col-md-1 col-xs-1">
      <button
        class="btn btn-success submit-next"
        [disabled]="!isAuthenticated || !isFullFiled"
        (click)="onNext()"> Next <span
        class="glyphicon glyphicon-arrow-right"></span></button>
      <br>
      <br>
    </div>
    <br>
    <br>
    <br>
    <div class="text-center">
      <p class="text-warning" *ngIf="!isFullFiled">Your bucket is empty add something </p>
      <p class="text-warning" *ngIf="!isAuthenticated">Login is requred to continue</p>
    </div>
    <br>
    <br>
  </div>

  <div class="row center-block">
    <div class="col-sm-4">

      <div class="panel panel-default">
        <div class="panel-heading">COUPON CODE</div>
        <div class="panel-body">
          If you have a coupon code, enter it in the box below and click 'Go'.
          <br>
          <br>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Code" ngModel #code="ngModel">
            <div class="input-group-btn">
              <button class="btn btn-default" type="button" (click)="checkAvailableCode(code)">
                Go!
              </button>
            </div>
          </div>
          <div class="text-center">
            <br>
            <span class="text-warning" *ngIf="wrongCode">{{wrongMessage}}</span>
            <span class="text-success" *ngIf="correctCode">Code is correct!</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<swal #success title="Success" text="Successfully added product to bucket" type="success"></swal>
<swal #error title="Error" text="Something go wrong. Please contact with our service" type="error"></swal>
<swal #info title="Info" text="In your account was some discrepancy therefore data was updated " type="info"></swal>
