input.amonut-a {
  position: relative;
  left: 100px;
}

@media only screen and (min-width: 992px) {
  .amount {
    position: relative;
    left: 0px;
    top: 5px;
  }

  .amount-product-manipulation {
    position: relative;
    right: 20px;
  }
  button.submit-next {
    width: 100px;
  }
}
@media only screen and (min-width: 1200px) {

  .amount-product-manipulation {
    position: relative;
    left: -10px;
  }

  button.removeProduct {
    width: 100px;
  }
}

@media only screen and (max-width: 992px) {
  table > tbody > tr > td {
    vertical-align: inherit;
  }

  table {
    border-collapse: collapse;
  }

  th {
    height: 50px;
  }
  button.removeProduct {
    width: 74px;
  }
}
