<div class="" *ngIf="isAuthenticated==true">
  <h5 *ngIf="isAuthenticated" class="welcome"> {{loginUser}}</h5>
  <button class="btn btn-primary authentication" (click)="onLogOut()">Log out</button>
</div>
<div *ngIf="isAuthenticated==false">
  <div class="btn-group " dropdown placement="bottom right">
    <button id="button-alignment" dropdownToggle type="button"
            class="btn btn-primary dropdown-toggle authentication " aria-controls="dropdown-alignment">
      Get in <span class="caret"></span>
    </button>
    <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right"
        role="menu" aria-labelledby="button-alignment">
      <li role="menuitem"><a class="dropdown-item text-center" (click)="openModal(template)" >Log in</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item text-center" (click)="onRedirect('/signup')" >Sign up</a></li>
    </ul>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Login to your account</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times; exit</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm" id="loginForm">
      <div class="form-group">
        <label for="idlogin">Login</label>
        <input
          type="text"
          id="idlogin"
          name="loginLog"
          class="form-control"
          required
          #loginCrt
          [ngModel]="name"
        >
        <span class="help-block" *ngIf="loginCrt.invalid && loginCrt.touched">Please fill login </span>
      </div>
      <div class="form-group">
        <label for="idpassword">Password</label>
        <input
          type="password"
          id="idpassword"
          name="passwordLog"
          class="form-control"
          required
          #paswordCrt
          [ngModel]="password">
        <span class="help-block" *ngIf="paswordCrt.invalid && paswordCrt.touched"></span>
      </div>
      <h5 class="text-center" *ngIf="message.length>0"><span class="alert-danger ">Warrning  {{message}} check login and password</span>
      </h5>

      <br>

      <button class="btn btn-primary center-block" type="submit">LOGGIN</button>

    </form>
  </div>
</ng-template>

