.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
  border: none;
}

@media only screen and (max-width: 540px) {
  h1 { font-size: 10px; }
  button.logOut {
    width: 80px;
    position: relative;
    /*right: 10px;*/
  }
  div.exit {
    position: relative;
    right: 100px;
  }

  .small-auth {
    position: relative;
    bottom: 20px;
  }
  .normal-auth {
    display: none;
  }

  h5.welcome {
    display: none;
  }
  button.get-in {
    width: 70px;
  }
}

@media only screen and (min-width: 541px) and (max-width: 1199px){
  h1 { font-size: 10px; }
  button.logOut {
    width: 80px;
    position: relative;
    /*right: 10px;*/
  }

  .small-auth {
    display: none;
  }

  .normal-auth {
    display: block;
  }

  h5.welcome {
    display: none;
  }

  button.get-in {
    width: 100px;
    /*position: relative;*/
    /*bottom: 30px;*/
  }
}

/*@media only screen and (min-width: 992px) {*/

/*}*/

@media only screen and (min-width: 1200px) {
  button.get-in {
    width: 90px;
    /*bottom: 30px;*/
    /*left: 80px;*/
  }

  h5.welcome {
  display: none;
  }
  button.logOut {
    width: 90px;
    position: relative;
    /*right: 10px;*/
  }


}
