<div class="container">
  <h2>{{product.title}}</h2>

  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="form-group">
      <label for="title">Product Name: </label>
      <input type="text"
             id="title"
             class="form-control"
             [ngModel]="product.title"
             name="title"
             required
             minlength="5"
             maxlength="255"
             #title="ngModel"
      ></div>
    <div class="form-group">
      <label for="price">Price: </label>
      <input type="number"
             id="price"
             class="form-control"
             [ngModel]="product.price"
             name="price"
             min="1"
             max="1000000"
             #price="ngModel"
      >
    </div>
    <div class="form-group">
      <label>Attributes</label>
      <input type="text"
             class="form-control"
             [ngModel]="product.shortDescription[0]"
             name="desc1"
             required
             minlength="5"
             maxlength="255"
      >
      <input type="text"
             class="form-control"
             [ngModel]="product.shortDescription[1]"
             name="desc2"
             required
             minlength="5"
             maxlength="255"
      >
      <input type="text"
             class="form-control"
             [ngModel]="product.shortDescription[2]"
             name="desc3"
             required
             minlength="5"
             maxlength="255"
      >

      <input type="text"
             class="form-control"
             [ngModel]="product.shortDescription[3]"
             name="desc4"
             minlength="5"
             maxlength="255"
      >
      <input type="text"
             class="form-control"
             [ngModel]="product.shortDescription[4]"
             name="desc5"
             minlength="5"
             maxlength="255"
      >

    </div>


    <div class="form-group">
      <label for="desc">Description</label>
      <textarea id="desc"
                class="form-control"
                [ngModel]="product.description"
                name="desc"
                required
                minlength="200"
                maxlength="1000"></textarea>
    </div>
    <div class="form-group">
      <label for="image">Imge Link: </label>
      <input id="image"
             type="text"
             class="form-control"
             [ngModel]="product.imageLink"
             name="image"
             required
             minlength="10"
             maxlength="255">
    </div>
    <div class="form-group">
      <label for="amount">Amount: </label>
      <input id="amount"
             type="number"
             class="form-control"
             [ngModel]="product.getTotalAmount"
             name="amount"
             required
             min="1"
             max="1000"
             name="amount"
             #amount="ngModel"
      >
    </div>
    <div class="form-group">
      <label><h4>Status message: {{product.statusMessage}} --- Status code: {{product.statusCode}}</h4></label>
      <select
        class="form-control"
        id="status"
        [ngModel]="product.statusCode"
        name="statusCode"
        required
      >
        <option value="initial" [disabled]="true">Initial</option>
        <option value="withdrawn" [disabled]="true">Withdrawn</option>
        <option value="sale">Sale</option>
        <option value="inaccessible">Inaccessible</option>
      </select>
    </div>
    <p class="text-left">[*] - required fields</p>
    <br>
    <br>
    <div class="submit btn-group">
      <button class="btn btn-success menage-product" [disabled]="!f.valid || price.value < 1 || amount.value < 1" type="submit">Submit</button>
      <button class="btn btn-warning menage-product" (click)="cancelEdit()">Cancel</button>
    </div>
  </form>
  <hr>
  <br>

  <div class="row">
    <div class="submit">
      <p> Product will be deleted from shop tomorrow at 00:00. Customers who has this product in bucket will be
        notified.
      </p>
    </div>
    <div class="submit">
      <button class="btn btn-danger menage-product" (click)="onDelete()">Delete Product</button>
    </div>
  </div>

</div>
<swal #success title="Success" text="Successfully added product to bucket" type="success"></swal>
<swal #error title="Error" text="Something go wrong. Please contact with our service" type="error"></swal>
<swal
  #confirmDelete
  title='Are you sure?'
  type='warning'
  showCancelButton=true,
  confirmButtonColor='#3085d6'
  cancelButtonColor='#d33'
  confirmButtonText='Yes, Delete Product'
  cancelButtonText='No, cancel!'
  confirmButtonClass='btn btn-success'
  cancelButtonClass='btn btn-danger'
  buttonsStyling=false
  (confirm)="onConfirm()"
></swal>
<swal #successDelete title="Success" text="Product will be deleted from shop tomorrow at 00:00." type="success"></swal>
