<div>
  <h2>{{product.title}}</h2>

  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="form-group">
      <label for="title">Product Name: </label>
      <input type="text"
             id="title"
             class="form-control"
             [ngModel]="product.title"
             name="title"
      ></div>
    <div class="form-group">
      <label for="price">Price: </label>
      <input type="number"
             id="price"
             class="form-control"
             [ngModel]="product.price"
             name="price">
    </div>
    <div class="form-group">
      <label for="desc">Description</label>
      <textarea id="desc"
                class="form-control"
                [ngModel]="product.description"
                name="desc"></textarea>
    </div>
    <div class="form-group">
      <label for="image">Imge Link: </label>
      <input id="image"
             type="text"
             class="form-control"
             [ngModel]="product.imageLink"
             name="image">
    </div>
    <div class="form-group">
      <label for="amount">Amount: </label>
      <input id="amount"
             type="number"
             class="form-control"
             [ngModel]="product.totalAmount"
             name="amount"
      >
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>

</div>
